@import "../abstracts/variables";

.footer {
  background: $color-black-2;
  padding: 6.6rem 1rem 1.6rem 1rem;
  color: $color-white;

  &__inner {

  }

  &__main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    justify-items: center;
    padding-bottom: 5.7rem;


  }

  &__col {
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
    justify-self: center;

    @media only screen and (max-width: $breakpoint-small) {
      justify-self: flex-start;
      padding: 0 2rem;
    }

    &--1 {

    }

    &--2 {

    }

    &--3 {

    }

    &--4 {

    }
  }

  &__heading {
    color: $color-white;
    font-size: 1.4rem;
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

    &--red {
      color: $color-light-red;
    }
  }

  &__text-small {
    color: $color-white;
    font-size: 1.2rem;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__links-social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  &__link-social {
    & > img {
      max-width: 100%;
      height: 2.4rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.9rem;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: $color-white;
    font-size: 1.4rem;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__copy {
    border-top: 1px solid $color-light-red;
    display: flex;
    justify-content: space-between;
    padding-top: 1.7rem;
  }

  &__copy-text {
    color: $color-white;
    font-size: 1.6rem;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}

