@import "../abstracts/variables";

// HEADER
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem .5rem;
  }

  &__hamburger-menu {
    position: fixed;
    top: 3rem;
    right: 3rem;
    width: 3.5rem;
    cursor: pointer;

    background: none;
    appearance: none;
    outline: none;
    border: none;
    display: none;

    @media only screen and (max-width: $breakpoint-large) {
      display: block;
      z-index: 198;
    }
  }

  &__hamburger-menu &__hamburger-bar,
  &__hamburger-menu::before,
  &__hamburger-menu::after  {
    z-index: 100;
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: $color-light-red;
    margin: 6px 0;
    transition: .4s;
  }

  &__hamburger-menu.active::before  {
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  &__hamburger-menu.active &__hamburger-bar  {
    opacity: 0;
  }

  &__hamburger-menu.active::after  {
    transform: rotate(45deg) translate(-9px, -8px);
  }

  &__logo {
    font-family: $font-main;
    font-size: 2.4rem;
    font-weight: 700;
  }

  &__nav {
    flex: 0 1 68%;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $breakpoint-large) {
      display: none;
    }
  }

  &__mobile-nav {
    display: none;
    width: 0;
    transition: width 0.5s ease-in;

    &.active {
      @media only screen and (max-width: $breakpoint-large) {
        display: grid;
        place-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        z-index: 98;
        background-color: $color-black-2;
        color: $color-white;
        padding-top: 12rem;
      }
    }
  }

  &__dropdowns {
    &--mobile {
      display: flex;
      flex-direction: column;
    }
  }

  &__dropdown-list {
    display: flex;
    gap: 4.8rem;
    &--mobile {
      display: flex;
      flex-direction: column;
      color: $color-white;
    }
  }

  &__dropdown {
    cursor: pointer;

    &--mobile {
      border: 1px solid $color-white;
      padding: 2rem 4rem;
      border-radius: 5px;
    }
  }

  &__link {
    display: inline-block;
    font-size: 1.4rem;
    color: $color-black;
    margin-right: 1rem;

    &.active {
      color: $color-light-red;
    }

    &--mobile {
      color: inherit;
    }
  }

  &__link.active + &__drop-icon {
    border-top: 1px solid $color-light-red;
    border-right: 1px solid $color-light-red;
  }

  &__drop-icon {
    display: inline-block;
    width: .7rem;
    height: .7rem;
    color: inherit;
    border-top: 1px solid $color-black;
    border-right: 1px solid $color-black;
    transform: rotate(135deg) translateY(.4rem);

    &--mobile {
      border-top: 1px solid $color-white;
      border-right: 1px solid $color-white;
    }
  }

  &__actions {
    display: flex;
    gap: 3.2rem;


  }

  &__action {
    &--mobile {
      fill: $color-white;
    }
  }

  &__btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  &__icon {
    &.active, &:hover path {
      fill: $color-light-red;
      stroke: $color-light-red;
      stroke-width: 2px;
    }

    &.active path {
      fill: $color-light-red;
      stroke: $color-light-red;
      stroke-width: 2px;
    }
  }
}
