// fonts
$font-main: 'Barlow', sans-serif;
$font-secondary: 'Poppins', sans-serif;

// colors
$color-white: #fff;
$color-white-2: #F6F6F6;
$color-light-grey: #989898;
$color-black: #000;
$color-black-2: #252525;

$color-dark-grey: #626262;

$color-light-red: #ef3636;

$color-green: #390;

// breakpoints
$breakpoint-big-desktop: 125em; // 2000px
$breakpoint-largest: 75em; // 1200px;
$breakpoint-larger: 68.75em; // 1100px
$breakpoint-large: 62.5em; // 1000px
$breakpoint-medium: 56.25em; // 900px
$breakpoint-small: 37.5em; // 600px
$breakpoint-smallest: 25em; // 400px
