@import "../abstracts/variables";

.main-secondary {
  position: relative;
  min-height: 23rem;
  z-index: 5;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 23rem;
    object-fit: cover;
    z-index: 10;
  }

  &__inner {
    padding-left: 1rem;
    color: $color-white;
    height: 100%;
    min-height: 23rem;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: 100;
    padding: 7.1rem 0 0 0;
  }

  &__subtitle {
    color: $color-white;
    font-family: $font-secondary;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 1rem;
  }

  &__title {
    color: $color-white;
    font-family: $font-main;
    font-size: 5.0rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}

