@import "../abstracts/variables";

.our-products {
  &__inner {
    padding: 0 1rem 0 1rem;
  }

  &__heading {
    color: $color-black;
    font-size: 3rem;
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(
            auto-fit,
            minmax(27rem, 1fr)
    );
    column-gap: 3rem;
    row-gap: 5rem;
    margin-bottom: 6rem;
  }

  &__product-item {
  }

  &__img {
    width: 100%;
  }

  &__description {
    display: grid;
    place-items: center;
    margin-top: 2rem;
  }

  &__brand {
    color: $color-light-grey;
    text-align: center;
    font-size: 1.4rem;
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
  }

  &__name {
    color: $color-black;
    text-align: center;
    font-size: 1.4rem;
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__price {
    color: $color-light-red;
    text-align: center;
    font-size: 1.4rem;
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  &__actions {
    display: grid;
    place-items: center;
    width: 100%;
  }

  &__btn {
    margin: 0 auto;
  }

  &__show-more-wrapper {
    display: grid;
    place-items: center;
    width: 100%;
  }

  &__show-more {
    text-align: center;
    display: inline-block;
    margin: 0 auto 10rem auto;
  }

}

