@import "variables";

.partners {
  margin-bottom: 10rem;

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.1rem;
  }

  &__item {
    width: 100%;
    max-width: 12.8rem;
  }

  &__img {
    width: 100%;
  }
}
