@import "../abstracts/variables";

.totals {
  background: $color-black-2;
  padding: 3rem;

  &__content-right-heading {
    color: $color-white;
    font-family: $font-main;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: .8rem;
  }

  &__content-right-sub-heading {
    color: $color-white;
    font-family: $font-secondary;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }

  &__content-right--border-bottom {
    border-bottom: 1px solid $color-light-grey;
    margin-bottom: 8px;
  }

  &__content-right-flex {
    padding-bottom: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content-right-text-heading {
    color: $color-light-grey;
    font-family: $font-secondary;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &--1, &--2 {
      font-size: 1.2rem;
    }
  }

  &__content-right-price {
    color: $color-white;
    font-family: $font-main;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }
}
