@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Poppins:wght@400;700&display=swap');

@import "abstracts/variables";
@import "base/reset";

@import "layout/container";
@import "layout/header";
@import "layout/footer";

@import "components/main";
@import "components/button";
@import "components/shop-by-categories";
@import "components/our-products";
@import "components/about";
@import "components/what-people-say";
@import "components/partners";
@import "components/latest-news";
@import "components/instagram";
@import "components/newsletter";
@import "components/main-secondary";
@import "components/we-are-evdy";
@import "components/cards-white";
@import "components/our-team";
@import "components/pagination";
@import "components/form";
@import "components/get-in-touch";
@import "components/blog";
@import "components/totals";

@import "pages/404";
@import "pages/contact-us-main";
@import "pages/checkout";
@import "pages/faq-main";
@import "pages/product";
@import "pages/shop";
@import "pages/shopping-cart";
@import "pages/wishlist";





















